{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer">
	<ul class="copyright">
		{{ range .Site.Params.footer.copyright }}
		<li>{{ . | markdownify }} &copy;{{ now.Format "2006" }}</li>
		{{ end }}
	</ul>

	<ul class="icons">
		{{ with .Site.Params.contact.email }}
		<li><a href="{{ $.Site.BaseURL }}#contact-form" class="icon"><i class="far fa-envelope"></i></a></li>
		{{ end }}
		{{ if not .Site.Params.rss.hide }}
		<li><a href="{{ if $.RSSLink }}{{ $.RSSLink }}{{ else }}{{ $.Site.RSSLink }}{{ end }}" class="icon" type="application/rss+xml"><i class="fas fa-rss-square"></i></a></li>
		{{ end }}
		{{ if not .Site.Params.github.hide}}
		<li><a href="{{.Site.Params.github.link}}"><i class="fab fa-github"></i></a></li>
		{{ end }}
	</ul>
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
